*{margin: 0; padding: 0;}
li{list-style: none;}
.wrapper{
	width: 100%;
	height: 3250px;
	background: salmon;
}
#home{
	width: 100%;
	height: 742px;
}
#home .bg{
	width: 100%;
	height: 100%;
	background-image: url(https://images.pexels.com/photos/586958/pexels-photo-586958.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	padding-top: 125.98px;
}
.bg .home-title{
	width: 100%;
	height: 336.78px;
	background: transparent;
	color: #fff;
	font-family: '微软雅黑';
}
.home-title h1{
	text-align: center;
	font-size: 64px;
	font-weight: 700;
	letter-spacing: 3px;
	padding-bottom: 9px;
	padding-top: 135px;
}
.home-title h2{
	text-align: center;
	font-size: 21px;
	font-weight: 300;
	margin-top: 3px;
	letter-spacing: 6px;
	margin-bottom: 45px;
}
.btn:hover{background: rgba(0,0,0,0.4);}
.home-title a{
	width: 125px;
	height: 35px;
	background: cornflowerblue;
	display: block;
	margin: auto;
	padding: 10px;
	text-decoration: none;
	border-radius: 45px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	line-height: 35px;
}

#about{
	width: 100%;
	height: 573.8px;
	background: #fff;
}
.about-title{
	width: 163px;
	height: 77px;
	margin: auto;
}
.about-title h3{
	color: #000;
	font-size: 29px;
	font-family: 'lato';
	font-weight: 400;
	letter-spacing: 3px;
	padding-top: 152px;
}
.about-p{
	width: 66.6666666667%;
	height: 252.8px;
	margin: auto;
	text-align: center;
	line-height: 36px;
	padding-top: 154px;
}
.about-p p{
	font-size: 18px;
	color: #666;
	font-weight: 300;
	font-family: 'lato';
}
.about-p a{
	width: 100px;
	height: 35px;
	background: cornflowerblue;
	display: block;
	text-decoration: none;
	border-radius: 45px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin: 110px auto 0;
}
